{% extends "covoit/bases.html" %}
{% block title %} Welcome | {{ block.super }} {% endblock %}
{% block jumbotron_content %} 
<!-- Main component for a primary marketing message or call to action -->
 
{% if offres_user %}
	<h4> Mes offres</h4>
    <ul>
    {% for uneOffre in offres_user %}
       	
        <li><a href="{% url 'covoit:detailOffreP' uneOffre.id %}">{{uneOffre}}</a></li>
        
    {% endfor %}
    </ul>
{% else %}
    <p>Vous n'avez proposé aucune offre</p>
{% endif %}

{% endblock %}